[includeIf "gitdir:~/repos/personal/"]
    path = ~/.gitconfig-personal

[includeIf "gitdir:~/repos/work/"]
    path = ~/.gitconfig-work

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    autoSetupRemote = true

[core]
    autocrlf = input

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    lg = log --oneline --graph --decorate
