# ~/.config/zsh/exports.zsh
#
# Environment variable exports
# Contains secrets retrieved from Bitwarden at chezmoi apply time
# Machine type: {{ if .isWorkMachine }}work{{ else }}personal{{ end }}

# Bitwarden item name for local account sudo password
# Pattern: ubuntu-USERNAME (e.g., ubuntu-dawheat, ubuntu-foo)
# Override by setting BW_LOCAL_ACCT in ~/.config/zsh/local.zsh before this file loads
: ${BW_LOCAL_ACCT:="ubuntu-{{ .chezmoi.username }}"}
export BW_LOCAL_ACCT

# Shared environment variables (all machines)
{{- range $key, $field := (bitwardenFields "item" "chezmoi-env-shared") }}
{{- if hasSuffix "_HOME_PATH" $key }}
export {{ trimSuffix "_HOME_PATH" $key }}={{ printf "%s/%s" $.chezmoi.homeDir $field.value | quote }}
{{- else }}
export {{ $key }}={{ $field.value | quote }}
{{- end }}
{{- end }}

# Machine-specific environment variables
{{- if .isWorkMachine }}
{{- range $key, $field := (bitwardenFields "item" "chezmoi-env-work") }}
{{- if hasSuffix "_HOME_PATH" $key }}
export {{ trimSuffix "_HOME_PATH" $key }}={{ printf "%s/%s" $.chezmoi.homeDir $field.value | quote }}
{{- else }}
export {{ $key }}={{ $field.value | quote }}
{{- end }}
{{- end }}
{{- else }}
{{- range $key, $field := (bitwardenFields "item" "chezmoi-env-personal") }}
{{- if hasSuffix "_HOME_PATH" $key }}
export {{ trimSuffix "_HOME_PATH" $key }}={{ printf "%s/%s" $.chezmoi.homeDir $field.value | quote }}
{{- else }}
export {{ $key }}={{ $field.value | quote }}
{{- end }}
{{- end }}
{{- end }}
