---
- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600
  become: yes

- name: Install essential packages
  apt:
    name:
      - git
      - bat
      - nala
      - eza
      - dnsutils
      - ca-certificates
      - mtr
      - jq
      - curl
      - build-essential
      - vim
      - zsh
      - unzip
      - expect
    state: present
  become: yes
